[MESSAGES CONTROL]
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring,too-many-instance-attributes,invalid-name

[SIMILARITIES]
# Ignore imports when computing similarities.
ignore-imports=yes
