body {
    color: #555;
    font-family: "PT Serif", "Georgia", serif;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 38rem;
    padding: 4em 1em;
}

a {
    color: #e81c4f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 30em;
    max-width: 40em;
}

code,
pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}
