{% extends "base.html" %}
{% block head_extra %}
    <link
        rel="alternate"
        type="application/rss+xml"
        title="{{ title }}"
        href="{{ feed_url }}"
    />
    <meta name="Description" content="{{ description }}">
    <title>{{ title }}</title>
{% endblock %}
{% block header %}
    <h1>{{ title }}</h1>
{% endblock %}
{% block content %}
    <ul>
    {% for post in posts %}
        <li>
            {{ post.date[:10] }}
            <a href="{{ post.filename }}">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
