{% extends "base.html" %}
{% block head_extra %}
    <meta name="Description" content="{{ post.description }}">
    <title>{{ post.title }}</title>
{% endblock %}
{% block header %}
    <h1>{{ post.title }}</h1>
{% endblock %}
{% block content %}
	{{ post_html }}
{% endblock %}
{% block footer %}
    {% if post.tags %}
        <p>Tagged in
            {% for tag in post.tags %}
                <a href="/tags/{{tag}}.html">{{tag}}</a>
                {{ ", " if not loop.last }}
            {% endfor %}
        </p>
    {% endif %}
    <a href="/">&laquo; Go back</a>
    <p>Written on {{ post.date }} by {{ post.authors | join(', ') }}</p>
{% endblock %}
